<h1><%= @pin.title%></h1>
<p><%= @pin.description%></p>

<%= link_to "戻る", root_path%>
<%= link_to "編集する", edit_pin_path %>
<%= link_to "削除する", pin_path, method: :delete, data: { confirm: "本当に削除しますか？" }%>
